WpfApplication1/WpfApplication1/Service References/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Service1.Auth">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="error_message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_user" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service1.Auth" nillable="true" type="tns:Service1.Auth" />
  <xs:complexType name="Competition">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationDeadline" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Competition" type="xs:int" />
      <xs:element minOccurs="0" name="MinValue" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prize" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Competition" nillable="true" type="tns:Competition" />
  <xs:complexType name="Experts">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Experts" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Experts" nillable="true" type="tns:Experts" />
  <xs:complexType name="Evalulation">
    <xs:sequence>
      <xs:element minOccurs="0" name="EvalulationNum" type="xs:double" />
      <xs:element minOccurs="0" name="Expert_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Request_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Evalulation" nillable="true" type="tns:Evalulation" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Competition_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Request" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="Users_Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Request_ID" type="xs:int" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users_Request" nillable="true" type="tns:Users_Request" />
  <xs:complexType name="ArrayOfCompetition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Competition" nillable="true" type="tns:Competition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompetition" nillable="true" type="tns:ArrayOfCompetition" />
  <xs:complexType name="ArrayOfEvalulation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Evalulation" nillable="true" type="tns:Evalulation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvalulation" nillable="true" type="tns:ArrayOfEvalulation" />
  <xs:complexType name="ArrayOfExperts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Experts" nillable="true" type="tns:Experts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExperts" nillable="true" type="tns:ArrayOfExperts" />
  <xs:complexType name="ArrayOfRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" nillable="true" type="tns:Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequest" nillable="true" type="tns:ArrayOfRequest" />
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers" nillable="true" type="tns:ArrayOfUsers" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Users" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="ArrayOfUsers_Request">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users_Request" nillable="true" type="tns:Users_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers_Request" nillable="true" type="tns:ArrayOfUsers_Request" />
</xs:schema>