WpfApplication1/WpfApplication1/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Service1.Auth">
    <xs:sequence>
      <xs:element minOccurs="0" name="admin" type="xs:boolean" />
      <xs:element minOccurs="0" name="error" type="xs:boolean" />
      <xs:element minOccurs="0" name="error_message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_user" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service1.Auth" nillable="true" type="tns:Service1.Auth" />
  <xs:complexType name="Service1.Competition">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationDeadline" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Competition" type="xs:int" />
      <xs:element minOccurs="0" name="MinValue" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prize" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service1.Competition" nillable="true" type="tns:Service1.Competition" />
  <xs:complexType name="Service1.Experts">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Experts" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service1.Experts" nillable="true" type="tns:Service1.Experts" />
  <xs:complexType name="Service1.Evalulation">
    <xs:sequence>
      <xs:element minOccurs="0" name="EvalulationNum" type="xs:double" />
      <xs:element minOccurs="0" name="Expert_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Request_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service1.Evalulation" nillable="true" type="tns:Service1.Evalulation" />
  <xs:complexType name="Service1.Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Competition_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Request" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service1.Request" nillable="true" type="tns:Service1.Request" />
  <xs:complexType name="Service1.Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Users" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service1.Users" nillable="true" type="tns:Service1.Users" />
  <xs:complexType name="Service1.Users_Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Request_ID" type="xs:int" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service1.Users_Request" nillable="true" type="tns:Service1.Users_Request" />
  <xs:complexType name="ArrayOfService1.Competition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service1.Competition" nillable="true" type="tns:Service1.Competition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService1.Competition" nillable="true" type="tns:ArrayOfService1.Competition" />
  <xs:complexType name="ArrayOfService1.Evalulation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service1.Evalulation" nillable="true" type="tns:Service1.Evalulation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService1.Evalulation" nillable="true" type="tns:ArrayOfService1.Evalulation" />
  <xs:complexType name="ArrayOfService1.Experts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service1.Experts" nillable="true" type="tns:Service1.Experts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService1.Experts" nillable="true" type="tns:ArrayOfService1.Experts" />
  <xs:complexType name="ArrayOfService1.Request">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service1.Request" nillable="true" type="tns:Service1.Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService1.Request" nillable="true" type="tns:ArrayOfService1.Request" />
  <xs:complexType name="ArrayOfService1.Users">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service1.Users" nillable="true" type="tns:Service1.Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService1.Users" nillable="true" type="tns:ArrayOfService1.Users" />
  <xs:complexType name="ArrayOfService1.Users_Request">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service1.Users_Request" nillable="true" type="tns:Service1.Users_Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService1.Users_Request" nillable="true" type="tns:ArrayOfService1.Users_Request" />
</xs:schema>